ul
{
  list-style-type: none;
  margin: 5px;
  padding: 0px;
}

.clickable_links
{
  background-color: rgba(0, 110, 140, 0.8);
  margin: 2px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}


.clickable_links span
{
  display: inline-block;
  padding: 15px 0;
  font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(250,220,180,1);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.music_id
{
  width: 5%;
  text-align: center;
}

.music_chan
{
  width: 10%;
}

.music_title
{
  width: 50%;
}

.music_sender
{
  width: 10%;
}

.music_tags
{
  width: 20%;
}
